.row-custom {
    border: solid 1px #DCDCDC;
    border-radius: 10px;
    overflow: hidden    
}

.row-custom-dark {
    background: #DCDCDC;
    border: solid 0px #DCDCDC;
    
}
.notify {
    border: solid 1px #00FF00 ;
}

